<div class='aside-container'>
    <ol>
        <li>
            <a href='https://facebook.com/lebs.jj' target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
        </li>
        <li>
            <a href='https://github.com/LebasoraJohnJefferson' target="_blank">
                <i class="fab fa-github-square"></i>
            </a>
        </li>
        <li>
            <a href='https://www.youtube.com/channel/UCTpTNhXUSei9RjlYTrDqF1w' target="_blank">
                <i class="fab fa-youtube-square"></i>
            </a>
        </li>
    </ol>
</div>